html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.about_text {
   width: 80%;
   margin: 0 auto;
   font-size: 12pt;
   line-height: 1.5;
   margin-bottom: 10pt;
}
.about_text h2 {
    font-size: 14pt;
    font-weight: 700;
    margin-top: 10pt;
    margin-bottom: 5pt;
}

.about_image-box {
    display: flex;
    gap: 5pt;
    width: 100%;
    border-radius: 5pt;
    overflow: hidden;
}

.about_image-box img {
    width: 33%;
    height: auto;
    object-fit: cover; /* Изображение будет покрывать область */
    border-radius: 8pt;
}

.grid{
    display: grid;
    grid-template-columns: repeat(1, 3fr 2fr);
    gap: 20pt;  
}

.logo-box {
    width: 70pt;
    padding: 70pt 0 0 50pt;
}