/* ОБЩИЕ (УНИФИКАЦИЯ) ДЛЯ ВСЕХ СТРАНИЦ СТИЛИ */
/* ========================================= */

html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5; /* нейтральный фон- почти белый */
}
/* ================================ */



/* ------------------------------- */
/* Стили для верхней части страниц */
.section_top {
    margin-top: 80px;   /* ! смещение вниз, чтобы страница при загрузке не ушла под HAEDER */
}
.section_top_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 26px;
}
.section_top h1 {
    color: var(--color-black);
    font-size: 33px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 7px;
    padding-top: 10px;
}
.section_top h2 {
    color: black;
    font-size: 22px;
    text-align: center;
}
.section_top_title-text {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 130%;
}
/* -------------------------- */


/* КНОПКА СИНЕГО ЦВЕТА */

.btn_common-blue{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-btn_blue);
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    padding: 10px 28px;
    border: 1px solid lightgray;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.3s ease, background 0.3s ease;
}
.btn_common-blue:hover {
    transform: translateY(-2px); /*сдвинуть кнопку вверх*/
    background-color: var(--color-btn_blue-hover);
}





.di-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* СТИЛИ РАЗДЕЛОВ GRID С КАРТОЧКАМИ*/
.grid_3x3{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 10px;
    align-items: center;
    justify-content: center;
    max-width:1000px; 
    margin: 0 auto;
    padding: 0px 0px;
}
/* СТИЛИ КАРТОЧЕК */
.bx1, .bx2 {
    height: auto;
    max-height: 655px;
    border: 1px solid var(--color-btn_blue);
    border-radius: 10px;
    background-color: #f0f0f0;
    margin: 15px;
    box-shadow: 0 2px 10px rgba(36, 27, 27, 0.5);
}
.bx1 {
    /* min-width: 350px; */
    padding: 10px;

}
.bx2 {
    min-width: 280px;
    min-height: 170px;
    padding:15px;
}

.bx2 .img_style  {
    margin-top: -4px;
}

.bx2 div span  {
    color: blue;
    font-weight: 700;
}






/* ================== */
/* ДРУГИЕ ОБЩИЕ СТИЛИ */
.blue_bold {
    color: #0070ff;
    font-weight: 900;
}

/* Использую в Footer */
.footer .green_bold {
    color: #16a249;
    font-weight: 800;
    font-size: 16px;
}

/* Стиль разделителя */
.hr {
    height: 2px; 
    margin: 30px 0px 10px;
    background: #d0d0d0;
}




/* СТИЛИ ДЛЯ СТРАНИЦ LEKARI и SLUZBY */
.txt_rem {
    margin-top: 10px;
}