.doctors-hidden-row {
    display: none;
}

.show-more-button-container {
    margin: 15px auto 15px;
    text-align: center;
}

.arrow-icon {
    margin-left: 10px;
    display: inline-block;
    transition: transform 0.3s ease;
}

.visible-doctors {
    display: contents;
}

.arrow-icon.rotated {
    transform: rotate(180deg);
}

.doctor-photo {
    width:  350px;
    height: 350px;
}