.doctors-hidden-row {
    display: none;
}

.show-more-button-container {
    margin: 15pt auto 15pt;
    text-align: center;
}

.arrow-icon {
    margin-left: 10pt;
    display: inline-block;
    transition: transform 0.3s ease;
}

.visible-doctors {
    display: contents;
}