.inline {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    align-items: flex-end; 
    margin-top: 15px;
    margin-bottom: 3px;
}

.button-container {
    margin: 15px auto 15px;
    text-align: center;
}
