@media print {

.inline {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    align-items: flex-end; 
    margin-top: 15px;
    margin-bottom: 3px;
}

.button-container {
    margin: 15px auto 15px;
    text-align: center;
}


.doctors-hidden-row {
    display: none;
}

.show-more-button-container {
    margin: 15pt auto 15pt; /* Отступы сверху и снизу */
    text-align: center;
}

/* Стиль для иконки стрелки (чтобы она поворачивалась) */
.arrow-icon {
    margin-left: 10pt;
    display: inline-block;
    transition: transform 0.3s ease;
}

.visible-doctors {
    display: contents; 
}

/* Класс для поворота стрелки, когда контент показан */
.arrow-icon.rotated {
    transform: rotate(180deg);
}

.section_top {
    margin: 0;
}

    
.grid_3x3 {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 0pt;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0pt 0pt;
   }


.bx2 {
   border: 1px solid gray;
}

}

