html, body {
    font-family: 'arial' , sans-serif;
    background-color: #f5f5f5;
}
 
.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    /* background: rgba(0,128,255,0.17); */
}


.center-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Уменьшил margin-top, чтобы форма была более центрирована */
    margin-top: 50px; 
    min-height: calc(100vh - 120px);
    padding: 20px;
    box-sizing: border-box;
}


header h1 {
    color: var(--color-site-black);
}

.txt_info {
    margin: 20px auto;
    font-size: 16px;
    font-weight: 700;
}



.frmCommon {
    min-width: 400px;
    position: relative;
    padding: 18px 30px;
    /* color: var(--color-gray); */
    text-align: center;
    background: #f0f0f0;
    border: 2px solid rgba(0, 112, 255, 0.2); /* легкая синяя рамка */
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.14);/* Более мягкая тень */
}

.frmCommon h2 {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: var(--color-black); /* Заголовок теперь черный */
    font-weight: 700;
}






.form-group {
    margin-bottom: 15px;
    font-size: 16px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}

/* Стили для всех полей ввода и select */
input[type="text"],
input[type="date"],
input[type="time"],
input[type="tel"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 18px;    
}

input[type="text"]::placeholder,
input[type="date"]::placeholder,
input[type="time"]::placeholder,
input[type="tel"]::placeholder {
    color: var(--color-gray);
    font-weight: 500;
}




