:root{
    --color-bg: #cce2f7;
    --color-site-bg: #cce2f7;
    --color-golden-rod: #b8860B;
    --color-site-black: #333;
}
html, body {
    font-family: 'arial' , sans-serif;
    background-color: #f5f5f5;
}
.wrapper {
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    border: 5px solid var(--color-golden-rod);
    border-radius: 10px;
    background: rgba(0,128,255,0.17);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.header_title {
    color: black;
    font-size: 26px;
    margin-top: 100px;
    text-align: center;
}
.header_text {
    color: black;
    font-size: 18px;
    margin-top: 60px;
    text-align: center;
}
.container{
    width: 400px;
    background-color: #f9e1f2;
    margin: 50px auto;
    border: 15px solid #a84d88;
    border-radius: 20px;
    padding: 10px 30px;
}

h1 {
    text-align: center;
    font-size: 26px; 
    margin-top: 50px;   
}

.container h1{
    color: #1d0f38;
    font-size: 19px;
    text-align: center;
    margin-bottom: 20px;
}

.left_side, .right_side {
    display: block;
    margin: 20px 10px;
}
.right_side {
    min-width: 50%;
}


.frmCommon div{
    padding: 10px 10px;
}


.d-flex {
    display: flex;
    justify-content: space-around;
    align-items: top;
    width: 100%;
    color: lightgray;
    font-size: 18px;
}

.container_header_btns{
    margin-top: 30px;
    text-align: center;
    font-size: 16px;
}

.frmCommon {
    min-width: 410px;
    background: #2f7fcf;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 7px 15px 0 rgba(0,0,0,.14);
    margin-right: 5px;
}



/* Добавляет красную * после текста label, если поле является обязательным */
div label:has(+ input:required)::after {
    content: "* "; /* Добавляет * и пробел */
    color: #ff9999; /* Делает * красной */
    font-size: 28px;
    font-weight: bold;
}
.red_asterisk {
    color: red;
    font-size: 20px;
    font-weight: bold;
}



div.frmCommon .form .div label [type="text"]{
    height: 50px;
    font-size: 12px;
    font-weight: 500;
    width: 200px;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #af1212;
    border-radius: 4px;
    color: blue;
}




.txt1 {
    margin: 5px 0;
    font-weight: 700;
    text-align: center;
    color: black;
    margin-top: 30px;
}


.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    font-size: 14px;

    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}
.custom-file-upload:hover {
    background-color: #f0f0f0cc;
}
.submitBtn, .btn_common-blue {
    text-decoration: none;
    margin-top: 10px;
    padding: 7px;
    background-color: #0080ff;
    color: #fff;
    border: 1px solid lightgray;
    border-radius: 7px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.3s ease, background 0.3s ease;
}
.btn_common-blue{
    display: inline-flex;
    padding: 10px 28px;
}
.submitBtn {
    width: 100%;
}

.submitBtn:hover, .btn_common-blue:hover {
background-color: var(--color-golden-rod);
}





/* не работают СОБАКИ - не стал искать
div input [type="submit"]{
    background-color: #b8299e;    
    color: red;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}  

.form> div button [type="submit"]{
    background-color: #008CBA;    
    color: red;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
} */
