/* РАЗМЕРЫ */
.sz12 {
font-size: 9pt;
font-weight: 700;
}
.sz14 {
font-size: 9pt;
font-weight: 700;
}
.sz15 {
font-size: 9pt;
font-weight: normal;
}
.sz16 {
font-size: 9pt;
font-weight: 700;
}
.sz18 {
font-size: 10pt;
font-weight: 700;
}
.sz20 {
font-size: 11pt;
font-weight: 700;
}
.sz22 {
font-size: 12pt;
font-weight: 700;
}
.sz24 {
font-size: 13pt;
font-weight: 700;
}
